{% extends "base.html" %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="main_ap">Главная</a>
    </div>
</div>
{% endblock navbar %}


{% block content %}
<form action="/example/">
    <button type="submit" class="btn btn-primary">Создать заявку</button>
</form>
<form action="/example/">
    <button type="submit" class="btn btn-primary">Выйти из профиля</button>
</form>
{% endblock content %}
